@import "tailwindcss";


@font-face {
  font-family: "Charmonman";
  font-style: normal;
  
  font-display: swap;
  src: url("./assets/fonts/Charmonman-Regular.ttf") format("truetype");
}

.font-charmonman {
  font-family: "Charmonman", cursive;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}
